<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Text.Account.Login &raquo; @Text.General.ApplicationName</title>
        
        <meta name="description" content="User login page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" />
    </head>
<body>
    <form method="POST">
        Username <input type="text" name="Username" />
        <br />
        Password <input name="Password" type="password" />
        <br />
        Remember Me <input name="RememberMe" type="checkbox" value="True" />
        <br />
        <input type="submit" value="Login" />
    </form>
    @if (Model.Errored)
    {
        <div id="errorBox" class="floatingError">Invalid Username or Password</div>
    }
</body>
</html>
