<?xml version="1.0"?>
<authenticationProviders>
  <providers>
    <add name="Facebook" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
    <add name="Google" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
    <add name="Twitter" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
    <add name="WindowsLive" key="please-enter-your-real-value" secret="please-enter-your-real-value" />
  </providers>
</authenticationProviders>