<?xml version="1.0"?>
<CC.TheBench.Frontend.Web.Properties.SecuritySettings>
  <setting name="EncryptionProviderPassphrase" serializeAs="String">
    <value>SuperSecretPass</value>
  </setting>
  <setting name="HMacProviderPassphrase" serializeAs="String">
    <value>UberSuperSecure</value>
  </setting>
  <setting name="EncryptionProviderSalt" serializeAs="String">
    <value>Salty salt!</value>
  </setting>
  <setting name="HMacProviderSalt" serializeAs="String">
    <value>UberSalty salt!</value>
  </setting>
  <setting name="DiagnosticsConfigurationPassphrase" serializeAs="String">
    <value>testdebug</value>
  </setting>
</CC.TheBench.Frontend.Web.Properties.SecuritySettings>